.table{
  margin-top: 1vh !important;
  width: 50% !important;
 margin: auto auto;
 font-size: small;
 
}
td{
  border: none !important;
}
tr{
  border: none !important;
}
th{
  border: none !important;
}
.react-bootstrap-table-pagination-list{
  margin-left: 25vh;
}
hr{
  border-top: 1px;
}
.smooth-image{
  float: left;
  margin-right: 16px;
}
.mission_name{
  font-size: 15px;
}
.rocket_name{
  font-size: 11px;

}
p span.rocket_name{
  display: block;
}
p span.details{
  display: inline;
  font-size: 15px;
  
}
.wikipedia a{
  font-size: small;
}
.right{
  position: absolute;
  font-size:smaller;
  
}
.left{
  margin-left: 40vh;
  font-size: smaller;
}
